<%- include("partials/header") %>





    <div class="container">

        <select name="things" style="-webkit-text-fill-color: black;" id="">
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
        </select>
    </div>







    <%- include("partials/footer") %>